body {
    font-family: 'Poppins', sans-serif;
    background-color: #F0F0F0;
    overflow-x: hidden;
  }
  
  .dashboard{
  position: relative;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.521);
  }
  
  .navbar-mobile{
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
  }
  
  .text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  .text-overlay h1 {
    margin: 0;
    font-size: 4vw;
  
  }
  
  .text-overlay h1 span {
    display: block;
    font-size: 7vw;
  }
  
  .container-sejarah {
    position: relative;
    z-index: 1;
    margin-top: -35px; 
    background-color: #063C48;
    border-radius: 50px;
  }
  
  .sjrh{
    padding-bottom: 200px;
  }
  
  .pict-sejarah {
    position: relative;
    z-index: 1; /* Set a lower z-index to place it below container-sejarah */
    width: 100%; /* Ensure the image fills its container */
    height: auto;
    object-fit: cover;
  }
  
  .container-sejarah .row {
    position: relative;
    z-index: 3;
  }
  
  .text-sejarah {
    color: #ffffffa7;
    size: 1.5em;
  }
  
  .berita {
    margin-top: -200px;
    overflow-x: hidden;
    position: relative;
    z-index: 4;
  }
  
  .swiper-container-berita{
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  
  .swiper-pagination {
    position: relative;
    margin-top: 200px;
    width: 100%;
    text-align: center;
  }
  
  .swiper-slide-berita {
    background-size: cover;
    background-position: center;
    margin-left: -28px;
    margin-right: -28px;
    width: 18rem; 
    height: 28rem;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  
  .swiper-slide-berita.swiper-slide-berita-active {
    opacity: 1;
  }
  
  .swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #063C48;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  
  .card-berita {
    width: 18rem;
    height: 28rem; 
    position: relative;
    border-radius: 10pt !important;
    border: none !important;
  }
  
  .berita-pict {
    border-radius: 10pt;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: left;
    color: white;
    border-radius: 10pt;
    background-image: radial-gradient(at 84% 80%, hsla(128, 0%, 0%, 0.35) 0px, transparent 50%),
      radial-gradient(at 20% 76%, hsla(240, 0%, 0%, 0.35) 0px, transparent 50%),
      radial-gradient(at 83% 20%, hsla(240, 0%, 0%, 0.35) 0px, transparent 50%),
      radial-gradient(at 19% 18%, hsla(343, 0%, 0%, 0.35) 0px, transparent 50%);
  }
  
  .card-text-container p:first-child {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 2em;
  }
  
  .card-text-container p:last-child {
    margin-top: 0;
    font-size: 1em;
  }
  
  .card-text {
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  
  .card-text-container button {
    margin-top: 10px;
  }
  
  .button-berita {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    border: none !important;
  }
  
  .button-berita:hover {
    background-color: #ffffff;
    color: #000000ac;
  }

  .judul-PaketWisata{
    font-family: 'Rozha one',serif;
  }
  
  .card-paket-wisata{
    position: relative; 
    display: inline-block;
  }
  
  .pict-paket{
    width: 250px; 
    height: 350px; 
    margin: 30px; 
    border-radius: 20px;
    object-fit: cover;
  }
  
  .text-container-paket{
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 10px; 
    border-radius: 10px; 
    width: 200px; 
    height: 220px; 
    margin-top: 35px;
  }
  
  .judul-paket{
    font-size: 20px; 
    font-weight: bold; 
    margin-top: 5px; 
    font-family: 'Poppins', sans-serif;
  }
  
  .list-paket{
    font-size: 0.7em; 
    font-weight: 100; 
    font-family: 'Poppins', sans-serif; 
    border-bottom: 0.2px solid black; 
    padding-bottom: 3px; 
    margin-bottom: 8px;
  }
  
  .ulasan{
    overflow-x: hidden;
    background-color:#063C48;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .judul-ulasan{
    font-family: 'Rozha One', serif;
    padding: 20px;
    color: white;
  }

  .button-ulasan {
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff93;
  }
  
  .icon-plus{
    font-size: 25px;
    color: #063C48;
  }

  .button-ulasan:hover {
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000093;
  }
  
  .icon-plus{
    font-size: 25px;
    color: #063C48;
  }
 
  
  .card-ulasan{
    
    overflow-y: auto;
    max-width: 350px; 
    min-height: 250px;
    max-height: 250px;
    height: auto;
    position: relative;
  }
  
  .card-ulasan::-webkit-scrollbar {
    width: 5px;
    margin: 10px;
    
  }
  
  .card-ulasan::-webkit-scrollbar-track {
    background: #f0f0f093; /* warna latar belakang track scrollbar */
    border-radius: 10px; /* radius border track scrollbar */
  }
  
  .card-ulasan::-webkit-scrollbar-thumb {
    background: #d4cfcf; /* warna thumb scrollbar */
    border-radius: 10px; /* radius border thumb scrollbar */
  }
  
  .card-ulasan::-webkit-scrollbar-thumb:hover {
    background: #063C48; /* warna thumb scrollbar saat hover */
  }
  
  
  
  .nama-pengulas,
  .text-ulasan {
    color: #063C48;
  }
  .judul-Homestay{
    font-family: 'Rozha one', serif;
  }
  .card-homestay {
  position: relative;
  width: 14rem;
  height: 20rem;
  padding: 0;
  }
  
  .homestay-pict {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  }
  
  .card-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #000000;
  font-weight: bolder;
  font-size:1.4em;
  
  }
  
  .card-overlay-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  color: #ffffff;
  }
  
  .homestay-title {
  margin-bottom: 10px;
  }
  
  .button-homestay {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  color: #000000;
  border-radius: 15px;
  border: none !important;
  font-weight: bold;
  font-size: 0.7em;
  }
  
  .button-homestay:hover {
  background-color: #ffffff;
  color: #000000ac;
  }
  
  
  
  
  @media (max-width: 768px) {
  
  .deskripsi-sejarah{
    font-size: 0.6em;
  }  
  
  .swiper-slide-berita {
    background-size: cover;
    background-position: center;
    margin-left: -28px;
    margin-right: -28px;
    width: 14rem; 
    height: 20rem;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  
  
  .card-berita {
    width: 14rem;
    height: 20rem; 
    position: relative;
    border-radius: 10pt !important;
    border: none !important;
  }
  
  .berita-pict {
    border-radius: 10pt;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .card-text-container p:first-child {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .card-text-container p:last-child {
    margin-top: 0;
    font-size: 0.5em;
  }
  
  
  
  .button-berita {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    border: none !important;
    font-size: 0.8em;
  }
  
  
  .card-paket-wisata{
    position: relative; 
    display: inline-block;
  }
  
  .pict-paket{
    width: 200px; 
    height: 270px; 
    margin: 30px; 
    border-radius: 20px;
    object-fit: cover;
  }
  
  .text-container-paket{
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 10px; 
    border-radius: 10px; 
    width: 160px; 
    height: 170px; 
    margin-top: 35px;
  }
  
  .list-paket{
    font-size: 0.7em; 
    font-weight: 100; 
    font-family: 'Poppins', sans-serif; 
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.200); 
    padding-bottom: 3px; 
    margin-bottom: 2px;
  }
  
  .nama-pengulas,
  .text-ulasan {
    font-size: 0.6em;
  }
  
  .card-ulasan{
    
  overflow-y: auto;
  max-width: 350px; 
  min-height: 150px;
  max-height: 150px;
  height: auto;
  position: relative;
  }
  
  .card-homestay {
  position: relative;
  width: 10rem;
  height: 14rem;
  }
  
  .button-homestay {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  color: #000000;
  border-radius: 15px;
  border: none !important;
  font-weight: bold;
  font-size: 0.5em;
  }
  
  .homestay-pict {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .berita-pict-detail{
    width: 300px;
    height: 200px;
    object-fit: cover
}

  .text-fill {
    color: aliceblue;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-left: 110px;
  }
  
  .text-stroke {
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: transparent;
  }
  
  
  
  
  }
  

  .judul-atraksi{
    font-family: 'Rozha one', serif;
  }

  .card-atraksi{
    width: 12rem; 
    height: 18rem;
    border: none !important;
    background-color: #F0F0F0;
    display: flex;
  }
  
  .atraksi-pict{
    width: 100%;
    height: 16rem;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .deskripsi-atraksi{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    transition: opacity 0.3s;
    width: 12rem;
    height: 16rem;
    text-align: center;
  }
  
  .hover{
    position: relative;
    overflow: hidden;
    width: 12rem;
    height: 16rem;
  }
  
  .hover:hover img {
    transform: scale(1.1);
  }
  
  .hover:hover .deskripsi-atraksi {
  display: block;
  }

  .berita-pict-detail{
    width: 400px;
    height: 300px;
    object-fit: cover
}

.text-fill {
color: aliceblue;
font-size: 100px;
font-family: 'Poppins', sans-serif;
position: relative;
margin-left: 140px;
}

.text-stroke {
-webkit-text-stroke: 4px rgb(255, 255, 255);
color: transparent;
}


        .form-group {
            position: relative; 
            width: 100%; /* Mengatur lebar form group menjadi penuh */
        }

        .form-control {
            width: calc(100% - 20px);
            background-color: #d1d1e9;
            opacity: 1;
            box-shadow: none;
            border: none;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            border-radius: 6px;
            margin-bottom: 20px;
            padding: 10px; 
            color: #ffffff; 
            margin-left: auto; /* Posisikan input di tengah */
            margin-right: auto; /* Posisikan input di tengah */
        }

        .placeholder {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #ffffff;
            pointer-events: none;
            padding-left: 10px; 
        }



        .button-submit-ulasan {
            background-color: #063C48;
            border: none;
            color: white;
        }