body {
    background-color: #e7dace;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.521);
}

.carousel-item {
    transition: transform 2s ease;
}

.container-atraksi {
    background-color: white;
}

.deskripsi {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
    text-align: center;
}

.foto:hover .deskripsi {
    display: block;
}

.card-atraksi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foto {
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 200px;
}

.foto img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
}

.foto:hover img {
    transform: scale(1.1);
}

.swiper {
    height: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    height: 500px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    max-width: 250px;
}

.card-img-top {
    max-height: 120px;
    min-height: 120px;
    min-width: 100%;
}

.list-unstyled li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.list-unstyled li:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    .swiper-wrapper {
        padding-left: 100px;
    }
}
